.row{
    padding: 25px 15px;
    display: flex;
    .col-lg-4{
        width: 33.3333%;
        padding: 0 15px;
        .card{
            border: 1px solid #ddd;
            border-radius: 10px;
            text-align: center;           
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-image: linear-gradient(to bottom, rgba(241,218,54,1) 100%, rgba(254,252,234,1) 0%);
            .heading{
                padding: 10px 0;
                width: 100%;
                span{
                    color: #000;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            .cards{
                display: flex;
                .saprator{
                    width: 50%;
                    padding: 0px 5px;                   
                    .sap-head{
                        width: 100%;
                        border-bottom: 1px solid grey;
                        padding: 5px 0;
                        span{
                            color: #f44336;
                            font-size: 17px;
                            font-weight: 600;
                        }
                    }
                    .sap-opt-c{
                        width: 50%;
                        border-right: 1px solid grey;
                        float: left;
                        text-align: center;
                        padding: 5px 0;
                        a{
                            text-decoration: none;
                            color: #000;
                            cursor: pointer;
                            font-size: 13px;
                            font-weight: 500;
                        }
                        .mat-form-field-appearance-legacy{
                            height: 30px!important;                                                                           
                        }                         
                    }
                    .sap-opt-ct{
                        width: 50%;                        
                        float: left;
                        text-align: center;
                        padding: 5px 0;
                        a{
                            text-decoration: none;
                            color: #000;
                            cursor: pointer;
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                }
            }
            .btn{
                width: 100%;
                padding: 30px 0;
                a{
                    padding: 7px 30px;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    border: 1px solid #f44336;
                    border-radius: 20px;                   
                    background-color: #f44336;
                    &:hover{
                        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
                    }                                        
                }
            }
            .saprator-three{
                display: flex;
                text-align: center;
                background-color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px 0;
                .saprator-th-opt{
                    width: 33.33%;
                    border-right: 1px solid grey;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .saprator-thr-opt{
                    width: 33.33%;
                    border-right: 1px solid grey;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .saprator-the-opt{
                    width: 33.33%;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }    
}
@media only screen and (max-width: 767px){ 
    .cards{
        overflow: scroll!important;        
        .row{
            width: 1000px;
            padding: 10px 15px;
        }
    }   
     
}   
