<div class="cards">
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="heading">
                <span>Survey Dashboard</span>
            </div>
            <div class="cards">
              <div class="saprator">
                  <div class="sap-head">
                      <span>Category</span>
                  </div>
                  <div class="sap-opt-c">
                    <a>Categories 6</a>                      
                    <!-- <mat-form-field>
                      <mat-select placeholder="All" [formControl]="toppings" multiple>
                        <mat-select-trigger>
                          {{toppings.value ? toppings.value[0] : ''}}
                          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                  <div class="sap-opt-ct">
                      <a>All 1000</a>
                  </div>
              </div>
              <div class="saprator">
                  <div class="sap-head">
                      <span>Open / Close</span>
                  </div>
                  <div class="sap-opt-c">
                      <a>Active 678</a>
                  </div>
                  <div class="sap-opt-ct">
                      <a>InActive 678</a>
                  </div>
              </div>
            </div>
            <div class="btn"> 
                <a>Create Survey</a>
            </div>
            <div class="saprator-three">
                <div class="saprator-th-opt">
                    <a>Free Used 2/10</a>
                </div>
                <div class="saprator-thr-opt">
                    <a>Features</a>
                </div>
                <div class="saprator-the-opt">
                    <a>Upgrade</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="heading">
                <span>Poll Dashboard</span>
            </div>
            <div class="cards">
              <div class="saprator">
                  <div class="sap-head">
                      <span>Category</span>
                  </div>
                  <div class="sap-opt-c">
                    <a>Categories 6</a>                      
                    <!-- <mat-form-field>
                      <mat-select placeholder="All" [formControl]="toppings" multiple>
                        <mat-select-trigger>
                          {{toppings.value ? toppings.value[0] : ''}}
                          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                  <div class="sap-opt-ct">
                      <a>All 1000</a>
                  </div>
              </div>
              <div class="saprator">
                  <div class="sap-head">
                      <span>Open / Close</span>
                  </div>
                  <div class="sap-opt-c">
                      <a>Active 678</a>
                  </div>
                  <div class="sap-opt-ct">
                      <a>InActive 678</a>
                  </div>
              </div>
            </div>
            <div class="btn"> 
                <a>Create Poll</a>
            </div>
            <div class="saprator-three">
                <div class="saprator-th-opt">
                    <a>Free Used 2/10</a>
                </div>
                <div class="saprator-thr-opt">
                    <a>Features</a>
                </div>
                <div class="saprator-the-opt">
                    <a>Upgrade</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="heading">
                <span>Assessment Dashboard</span>
            </div>
            <div class="cards">
              <div class="saprator">
                  <div class="sap-head">
                      <span>Category</span>
                  </div>
                  <div class="sap-opt-c">
                    <a>Categories 6</a>                      
                    <!-- <mat-form-field>
                      <mat-select placeholder="All" [formControl]="toppings" multiple>
                        <mat-select-trigger>
                          {{toppings.value ? toppings.value[0] : ''}}
                          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                  <div class="sap-opt-ct">
                      <a>All 1000</a>
                  </div>
              </div>
              <div class="saprator">
                  <div class="sap-head">
                      <span>Open / Close</span>
                  </div>
                  <div class="sap-opt-c">
                      <a>Active 678</a>
                  </div>
                  <div class="sap-opt-ct">
                      <a>InActive 678</a>
                  </div>
              </div>
            </div>
            <div class="btn"> 
                <a>Create Assessment</a>
            </div>
            <div class="saprator-three">
                <div class="saprator-th-opt">
                    <a>Free Used 2/10</a>
                </div>
                <div class="saprator-thr-opt">
                    <a>Features</a>
                </div>
                <div class="saprator-the-opt">
                    <a>Upgrade</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>