<!-- <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <bottom-sheet-overview-example></bottom-sheet-overview-example>              
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <bottom-sheet-overview-example-write></bottom-sheet-overview-example-write>        
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
                   
    </div>
    <div fxLayout="row" fxLayoutAlign="right right" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <bottom-sheet-overview-example></bottom-sheet-overview-example>          
    </div>
    <div fxLayout="row" fxLayoutAlign="right right" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <bottom-sheet-overview-example-write></bottom-sheet-overview-example-write>        
    </div>
</mat-toolbar> -->




<div class="footer-tool">
    <div class="footer-tool-btn">
        <div class="footer-tool-mybtn">
            <bottom-sheet-overview-example></bottom-sheet-overview-example>
        </div>
        <div class="footer-tool-mybtn">
            <bottom-sheet-overview-example-write></bottom-sheet-overview-example-write>            
        </div> 
    </div>   
    
    
    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    
    
    <div class="footer-tool-btn">
        <div class="footer-copy">
            <p>&copy; Copyright Osteen @ 2018 Ashish</p>
        </div>        
    </div>
    
    <div class="footer-tool-btn">
        <div class="footer-tool-mybtn">
            <bottom-sheet-overview-example></bottom-sheet-overview-example>
        </div>
        <div class="footer-tool-mybtn">
            <bottom-sheet-overview-example-write></bottom-sheet-overview-example-write>
        </div>
    </div>      
</div>